.add-song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 50px auto;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #222;
  border: 2px solid #ff5500;
  border-radius: 10px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.add-song-form {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.add-song-label {
  font-size: 24px;
  color: white;
  margin-bottom: 5px;
}

.add-song-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.add-song-button {
  padding: 8px;
  font-size: 12px;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-song-button:hover {
  background-color: #ff8533;
}

.input-label {
  color: white;
  margin: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
