.playlist-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  padding: 15px;
  margin: 10px;
  height: 160px;
  width: 160px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Lucida Grande", Arial, sans-serif;
  background-color: white;
  transition: box-shadow 0.3s ease;
  color: gray;
  transition: color 0.3s ease;
}

.playlist-title:hover {
  box-shadow: 0 2px 4px #ff5500;
}

.playlist-title img {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.playlist-title:hover {
  color: black;
}

.playlist-creator {
  margin-top: auto;
  text-align: center;
  font-size: 12px;
  color: gray;
}
