/* style it with css like songForm.css */

.add-playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 50px auto;
  margin-bottom: 100px;
  padding: 100px;
  background-color: #222;
  border: 2px solid #ff5500;
  border-radius: 10px;
}

.add-playlist-title {
  color: white;
  border: 2px solid #ff5500;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  border: 1px solid #ff5500;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}

.search-bar:hover {
  background-color:#ff8533;
  border: 1px solid white;
}
.error-message {
  color: red;
  margin-bottom: 10px;
}

.add-playlist-form {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.add-playlist-label {
  font-size: 18px;
  color: white;
  margin-top: 20px;
}

.add-playlist-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.add-playlist-button {
  padding: 8px;
  font-size: 12px;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-playlist-button:hover {
  background-color: #ff8533;
}

.song-checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: white;
  padding:20px;
  border: 1px solid #ff5500;
  border-radius: 10px;
}

.select-songs {
  display: flex;
  justify-content: center;
}

.song-checkboxes div:hover {
  background-color: #ff8533;
}

.song-checkboxes div {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ff5500;
  cursor: pointer;
}

.song-checkboxes div:checked {
  background-color: #ff5500;
  color: white;
}

.checkboxes-and-button {
  display: flex;
  flex-direction: row;
}

.selected-songs {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding:20px;
  border: 1px solid #ff5500;
  border-radius: 10px;
  margin-bottom: 10px;
}

.selected-songs-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 20px;
}
