img {
  height: 40px;
  width: 40px;
}

.songCard {
  border: 1px solid black;
  padding: 3px;
  margin: 5px;
  width: 100px;
  text-decoration: none;
  font-size: 8px;
  font-family: "Lucida Grande";
}
