.landingPage {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
}

.song-list-intro {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.songList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.create-song-button {
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 14px;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-song-button:hover {
  background-color: #ff8533;
}
