.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: start;
  max-width: 300px;
  padding: 15px;
  background-color: #222;
  border: 2px solid #ff5500;
  border-radius: 10px;
  margin: 100px auto;
}

.forms-container h1 {
  color: white;
  font-size: 24px;
  text-align: center;
}

.forms-container h3 {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: 0;
 }

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form button {
  margin-top: 20px;
}

.form-group label {
  font-size: 14px;
  font-family: "Lucida Grande", sans-serif;
  color: white;
  display: grid;
  padding: 1px;
  margin: 5px;
}

.form-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.login-button,
.demo-login-button {
  padding: 10px 15px;
  margin: 15px;
  font-size: 14px;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.demo-login-button:hover {
  background-color: #ff774d;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
