.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 6px solid #FF5500;
  margin: 10px;
  background-color: #222;
  box-sizing: border-box;
}

.navLink {
  border: 1px solid white;
  padding: 8px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.navLink:hover {
  background-color: #FF5500;
}

.logo-link:hover {
  background-color: #FF5500;
  border: 1px solid white;
}

.signup {
  background-color: #FF5500;
  color: white;
  border: 1px solid #FF5500;
  padding: 8px 12px;
  border-radius: 20px;
}

.signup:hover {
  border: 1px solid white;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  color: white;
  font-size: 20pt;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: background-color 0.5s ease;
  padding: 8px 12px;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid black;
}

.logo-link i {
  margin-right: 10px; /* Adjust the margin value as desired */
}
