.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #FF5500;
  background-color: black;
}

.navLink {
  border: 1px solid white;
  padding: 3px;
  margin: 5px;
  text-decoration: none;
  font-size: 8px;
  font-family: "Lucida Grande";
  color: white;
  background-color: black;
  border-radius: 10%;
}

.signup {
  background-color: #FF5500;
  color: white;
  border: 1px solid #FF5500;
}

.logo {
  color: white;
  font-size: 10pt;
}
