.song-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  font-size: 10pt;
}

/* button {
  margin: 5px;
  width: 50px;
} */

img {
  height: 50px;
  width: 50px;
}
